.cards {
	width: 400px;
	/* border: 1px solid black;
     */
	display: flex;
	flex-direction: column;
}
.cards > div {
    height: 70px;
    width: 620px;
    border: 1px solid rgb(223, 223, 223);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 20px 50px ;
    background-color: white;
    cursor: pointer;
    
}
.cards > div > p{

        margin: 0px;
       padding: 0px;
       display: inline;
}
.cards > div:hover .details{
    display: block;
}


.details{
    padding: 20px 10px;
    display: none;
    height: 250px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    position: absolute;
    right: 38%;
    border-radius: 10px;
    
}
.see_all_btn {
	margin: 0 50px;
	height: 35px;
	width: 18rem;
	outline: none;
	
	background-color:rgb(0,121,211);
	color: white;
	cursor: pointer;
	border-radius: 35px 35px 40px 40px;
    font-weight: bolder;
    
}
.icons {
	height: 32px;
	border-radius: 24px;
	margin: 0 5px;
}
.cards > div > i {
	margin: 0 5px;
}
.btn {
	border-radius: 20px;
	color: blue;
	background-color: rgb(231, 231, 231);
}
.heading {
	background-color: rgb(231, 231, 231);
}
.hidden {
	display: none;
}
.members .online{
    font-size: 15px;
    margin-left: 15px;
}
.online{
    margin-left: 150px;
}
.members > p,.online>p{
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    display: inline;
}
span{
    font-weight: bolder;
}
.tagline{
    font-size: 13px;
}
.tagline > p{
    margin: 0px;
    padding: 0px;
    display: inline;
}